In [7]:
import pandas as pd

#Csv file name that is present in same folder where my notebook is saved......
#the below file_renamed variable is adding the 
# csv format by default.....

file_name = input('Please Enter the file Name :').lower()
file_renamed = file_name+'.csv'

def search(file_renamed):
    #data_frame variable saved the data after read by pd....
    data_frame = pd.read_csv(file_renamed)

    #these attributes check the highest or lowest temp from the data set....
    maximum = data_frame['Max TemperatureC'].max()
    minimum = data_frame['Min TemperatureC'].min()

    # take input  from user to perform max or min action.....
    select_input = input("""Enter \'max\' to find maximum Temperature
and \'min\' to find minimum temperature: """).lower()
    if select_input == 'max':
        array = [maximum]
        output = data_frame.loc[data_frame['Max TemperatureC'].isin(array)]

    elif select_input == 'min':
        array = [minimum]
        output = data_frame.loc[data_frame['Min TemperatureC'].isin(array)]
    else:
        output = print('Please enter Correct Statement!!!!')

    #shows output...
    return output

obj_search = search(file_renamed)
obj_search
    #Program Complete!!!!

Please Enter the file Name :lahore_weather_2001_Oct
Enter 'max' to find maximum Temperature
and 'min' to find minimum temperature: max

,PKT,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,PrecipitationCm,CloudCover,Events,WindDirDegrees
2,03/10/2001,35.0,29.0,24.0,25.0,23.0,22.0,94.0,72.0,52.0,...,8.0,5.0,3.0,10.0,0.0,NaN,0.0,1.0,NaN,325.0
5,06/10/2001,35.0,28.0,21.0,21.0,18.0,15.0,94.0,63.0,32.0,...,7.0,5.0,1.0,11.0,2.0,NaN,0.0,0.0,NaN,299.0
6,07/10/2001,35.0,28.0,21.0,21.0,19.0,18.0,88.0,67.0,38.0,...,7.0,4.0,2.0,19.0,3.0,NaN,0.0,0.0,NaN,270.0
7,08/10/2001,35.0,28.0,21.0,21.0,19.0,16.0,88.0,64.0,34.0,...,7.0,5.0,2.0,14.0,2.0,NaN,0.0,0.0,NaN,232.0
8,09/10/2001,35.0,28.0,22.0,21.0,19.0,17.0,88.0,63.0,34.0,...,6.0,4.0,1.0,13.0,2.0,NaN,0.0,0.0,NaN,252.0
9,10/10/2001,35.0,28.0,21.0,22.0,19.0,18.0,94.0,65.0,36.0,...,7.0,5.0,2.0,10.0,2.0,NaN,0.0,0.0,NaN,339.0
10,11/10/2001,35.0,28.0,21.0,22.0,20.0,18.0,88.0,65.0,41.0,...,6.0,4.0,2.0,21.0,5.0,NaN,0.0,0.0,NaN,66.0